# Ignore Python bytecode files
*.pyc
*.pyo
events/views/__pycache__/
events/serializers/__pycache__/
events/models/__pycache__/
api/__pycache__/
events/__pycache__/
ice_alumni_association/__pycache__/

# Ignore database files
*.sqlite3
db.sqlite3  # For SQLite databases

# Ignore media files (e.g., images, uploaded documents)
/media/